:root {
    --color-principal: #801c8d;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf) format('truetype');
    font-weight: 400;   
}

@font-face {
    font-family: 'Poiret One';
    src: url(../fonts/Poiret_One/PoiretOne-Regular.ttf) format('truetype');
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    background-color: #8000A1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23590071' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    /* background by SVGBackgrounds.com */
}

/* HEADER & NAV */

.header__nav {
    position: fixed;
    width: 100%;
    padding: 10px 30px;

    display: flex;
    justify-content: space-between;
    background-color: #f3f3f3;

    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.23);
    z-index: 100;
}

.nav__toggle {
    display: none;
}

#menu-toggle {
    display: none;
}

.nav__navmenu {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav__logo-title {
    padding: 10px 0;
    color: var(--color-principal);

    font-family: 'Poiret One', 'Roboto', 'Courier New', monospace;
    font-size: 35px;
}

.navmenu__item {
    position: relative;
    margin-right: 15px;
}

.navmenu__link {
    color: #212121;
    opacity: 0.8;
    transition: all .2s ease-in-out;
}

.navmenu__icon {
    margin-right: 10px;
}

.navmenu__link:hover::after {
    position: absolute;
    content: "";
    height: 2px;
    margin-top: 25px;
    left: 0;
    right: 0;
    background-color: var(--color-principal);
}

.navmenu__link:hover {
    opacity: 1;
}

/* MAIN */

.main {
    padding: 30px;
    padding-top: 110px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        "main main main sidebar";
    gap: 20px;
}

/* MAIN ENTRADAS */

.main__entradas {
    grid-area: main;
    padding: 30px;
    min-height: 800px;
    border-radius: 15px;
    background-color: #f3f3f3;

    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.23);
}

.entradas__title {
    margin-bottom: 30px;
    font-weight: 400;
}

.entradas__icon {
    margin-left: 10px;
}

.entradas__entrada {
    cursor: pointer;
    display: flex;
    padding: 20px;
    border: 2px solid #aaa;
    border-radius: 15px;
    margin-bottom: 15px;
    color: #212121;
    transition: all .2s ease-in-out;
}

.entradas__entrada:hover {
    transform: translateY(-2px);
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.23);
}

.entrada__img-container {
    max-height: 150px;
    max-width: 150px;
    margin-right: 15px;
}

.entrada__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.entrada__title {
    color: #323232;
    font-weight: 400;
}

.entrada__author {
    opacity: 0.5;

    font-size: 18px;
    font-weight: 400;
}

.entrada__fecha {
    margin-bottom: 10px;
    opacity: 0.5;

    font-size: 12px;
    font-weight: 400;
}

.entrada__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

/* Alertas */

.alerta {
    margin-bottom: 15px;
    font-size: 14px;
}

.alerta-error {
    color: red;
}

.alerta-success {
    color: green;
}

/* LOGIN AND REGISTER */

.main__sidebar {
    grid-area: sidebar;
}

.sidebar__login, .sidebar__register {
    padding: 30px;
    margin-bottom: 20px;
    background-color: #f3f3f3;
    border-radius: 15px;
    
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.23);
}


.form__title {
    margin-bottom: 15px;
    color: #212121;
    font-size: 20px;
    font-weight: 400;
}

.form__label {
    display: block;
    margin-bottom: 5px;
}

.form__input, .form__submit {
    display: block;
    margin-bottom: 15px;
}

.form__input {
    width: 100%;
    padding: 10px 10px;
    
    border: none;
    border: 2px solid #aaa;
    border-radius: 5px;
    outline: none;

    background-color: transparent;

    font-size: 15px;

    transition: all .2s ease-in-out;
}

.form__input:focus {
    border: 2px solid #4b1053;
}

.form__submit {
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
    background-color: var(--color-principal);
    cursor: pointer;
    
    font-size: 15px;

    transition: all .2s ease-in-out;
}

.form__submit:hover {
    background-color: #4b1053;
    color: white;
}

.form__icon {
    margin-right: 10px;
}

/* FOOTER */

.footer {
    width: 100%;
    padding: 50px;
    background-color: #212121;
    color: #fff;

    text-align: center;
}

.footer__text {
    opacity: 0.3;
}

/* MEDIA QUERY FOR MOBILE */

@media (max-width: 935px) {
    
    /* nav menu */

    .nav__navmenu {
        position: absolute;
        left: 0;
        top: 85px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        text-align: center;

        width: 100%;
        height: 0px;

        overflow: hidden;

        background-color: #212121;

        transition: all .3s ease-in-out;
    }

    .nav__toggle {
        display: block;
        font-size: 35px;
        line-height: 65px;
    }

    #menu-toggle:checked ~ .nav__navmenu {

        height: calc(70vh - 85px);

    }

    .navmenu__link:hover::after {
        position: absolute;
        content: "";
        height: 2px;
        margin-top: 40px;
        left: 0;
        right: 0;
        background-color: var(--color-principal);
    }

    .navmenu__item {
        margin-right: 0;
    }

    .navmenu__link {
        color: white;
        

        font-size: 27px;
    }

    .main { 
        grid-template-columns: 1fr;
        grid-template-areas: 
            "sidebar"
            "main";
        gap: 20px;
    }

}